[submodule "ros2cli"]
	path = ros2cli
	url = git@github.com:fujitatomoya/ros2cli.git
[submodule "rcutils"]
	path = rcutils
	url = https://github.com/decwest/rcutils.git
	branch = feature/logger-registry
[submodule "rclcpp"]
	path = rclcpp
	url = https://github.com/decwest/rclcpp.git
	branch = feature/logger-registry
[submodule "rclpy"]
	path = rclpy
	url = https://github.com/decwest/rclpy.git
	branch = feature/logger-registry
[submodule "rcl_interfaces"]
	path = rcl_interfaces
	url = https://github.com/decwest/rcl_interfaces.git
	branch = feature/logger-registry
